<!DOCTYPE html>
<html>
<head>
    <title>passengers_board</title>
</head>
<body>
    <h1>Passengers Board</h1>
    <div style="text-align: -webkit-center; padding: 20px">
	    {% if msg %}
      <p>{{ msg }}</p>
    {% endif %}
    {% if result %}
    <table border="1" cellpadding="5" cellspacing="5" style="border-collapse: collapse; width: auto; margin: 20px">
        <thead>
            <tr>
                <th>personID</th>
                <th>first_name</th>
                <th>last_name</th>
                <th>locationID</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result[0] }}</td>
                <td>{{ result[1] }}</td>
                <td>{{ result[2] }}</td>
                <td>{{ result[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    </div>
</body>
</html>
